# Web / API
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1

# Scraping
requests==2.32.2
beautifulsoup4==4.12.3

# LLM + Embeddings
sentence-transformers==3.0.1

# Vector DB
qdrant-client==1.9.0

# Data validation
pydantic==2.7.0

# Utilities
tenacity==8.3.0
loguru==0.7.2
